<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="card-group" data-id="widgets">        
        <%= render partial: "widget" %>
      </div>
    </div>
  </div>
</div>
